<footer class="footer">
    <span class="todo-count"><strong>{{left}}</strong> item left</span>
    <ul class="filters">
        <li>
            <a [routerLink]="['']" [class.selected]="currentStatus == ''">All</a>
        </li>
        <li>
            <a [routerLink]="['', 'active']" [class.selected]="currentStatus == 'active'">Active</a>
        </li>
        <li>
            <a [routerLink]="['', 'completed']" [class.selected]="currentStatus == 'completed'">Completed</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" *ngIf="completed > 0" (click)="clearCompleted()">Clear completed</button>
</footer>